{% extends 'hospital/base.html' %}

{% block title %}
Password change
{% endblock title %}

{% block content %}
<br><br><br><br><br><br>
<h2 style="margin-left:25px;">Parolni almashtirish</h2>


    <p style="margin-left:25px;">Iltimos, yangi parolni ikki marta kiriting.</p>
    <br>
    <form method="post" style="margin-left:25px;">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Parolni almashtirish</button>
    </form>

<br>
<br><br><br>
{% endblock content %}