{% extends 'hospital/base.html' %}

{% block title %}
Password reset
{% endblock title %}

{% block content %}
<br><br><br><br><br><br>
    <h2 style="margin-left:25px;">Otp kod</h2>
<br>
    <p style="margin-left:25px;">Parolni o'zgartirish uchun emailingizga tasdiqlash kodi yuborildi.</p>
    <p style="margin-left:25px;">Agar kodni qabul qilmagan bo'lsangiz qaytadan urinib koring.</p>
<br>
    <form method = 'POST' style="margin-left:25px;">
        {% csrf_token %}
        <label for="otp">Otp code:</label><br>
        <input type="text" id="otp" name="otp"><br>
<br>
        <input type="submit" value="Yuborish" class='btn btn-success'>
      </form>

    <br><br><br>
{% endblock content %}