{% extends 'hospital/base.html' %}

{% block title %}
Password recovery
{% endblock title %}

{% block content %}
<br><br><br><br><br><br>
    <h2 style="margin-left:25px;">Parolni tiklash</h2>
<br>
    <p style="margin-left:25px;">Parolni tiklash uchun emailingizni kiriting. Biz emailingizga tasdiqlash kodini yuboramiz</p>
<br>
    <form method="post" style="margin-left:25px;">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <button type="submit" class="btn btn-success">Yuborish</button>
        <a  class="btn btn-danger" href="{% url 'login' %}">Orqaga</a>
    </form>
<br><br><br>
{% endblock content %}