{% extends "hospital/base.html" %}
{% load static %}


{% block title %}
 User register
{% endblock title %}

{% block content %}

<br><br><br><br><br><br>

<h2 style="margin-left:25px;">Foydalanuvchini ro'yxatdan o'tkazish.</h2>
<br>
<p style="margin-left:25px;">Ro'yxatdan o'tish uchun iltimos pastdagi formani to'ldiring.</p>
<br>
<form method="post" style="margin-left:25px;">
  {% csrf_token %}
  {{ form.as_p }}
  <br>
  <button type="submit" class='btn btn-success'>Sign up</button>
</form>
<br><br><br>
{% endblock content %}