{% extends "hospital/base.html" %} 
{% load static %}


{% block title %} Appoinments   {% endblock title %}


{% block content %}
<br> <br><br><br><br><br>

<h3 style="margin-left: 40px; color: black;">Uchrashuvlar ro'yxati</h3>
<br>
{% if role == 'patient' %}
<a href={% url 'create_appo' %} ><button type="button" class="btn btn-success" style="margin-bottom: 8px; margin-left: 1130px;">Yangi uchrashuv belgilash</button></a>
{% endif %}
<table class="table table-bordered table-striped" 
style="margin-left: 50px;">
    <tr>
        {% if role == 'doctor' %}
        <th style="text-align: center;">Bemor</th>
        {% else %}
        <th style="text-align: center;">Shifokor</th>
        {% endif %}
        <th style="text-align: center;">Uchrashuv vaqti</th>
        <th style="text-align: center;">Narx</th>
        <th style="text-align: center;">Status</th>
        <th style="text-align: center;">Actions</th>
    </tr> 
    {% for appoinment in appointments %}
    <tr>
        {% if role == 'doctor' %}
        <td style="text-align: center; vertical-align: middle;  color: black;">{{appoinment.patient.username}}</td>
        {% else %}
        <td style="text-align: center; vertical-align: middle;  color: black;">{{appoinment.doctor.first_name}}</td>
        {% endif %}
        <td style="text-align: center; vertical-align: middle;  color: black;">{{appoinment.datetimes}}</td>
        <td style="text-align: center; vertical-align: middle;  color: black;">{{appoinment.price}}</td>
        <td style="text-align: center; vertical-align: middle;"> <input type="checkbox" id="checkbox" name="checkbox"></td>
        <td style="text-align: center; vertical-align: middle;">
            {% if role == 'patient' %}
            <button style="  border-radius: 5px;"  class = "btn btn-primary"><a href={% url 'update_appo' appoinment.pk %}>O'zgartirish</a></button>
            {% endif %}
            <button style="  margin-right: 1px; border-radius: 5px;" class = "btn btn-danger"><a href={% url 'delete_appo' appoinment.pk %}>O'chirish</a></button>
                   
        </td>
    </tr>
    {%endfor%}
</table>

<p style="margin-left: 50px; margin-top:3px; font-size: 17px; color: black;"> Uchrashuvlar soni - {{count_appoinments}}</p>

<br>


{% endblock content %}
